# Gradle caches/build outputs
.gradle/
app/build/

# IDE/project files
.vscode/

# Archives
*.zip

# Ignore all JSON/PNG under app/src/main/assets/user/** recursively
app/src/main/assets/user/**/*.json
app/src/main/assets/user/**/*.png