.gradle/
gradle/
*.zip
gradlew
gradlew.bat
Formatting.txt
.vscode/
app/build/
app/src/main/java/net/greenapple/arrestwt/assets/user/**/*.json
app/src/main/java/net/greenapple/arrestwt/assets/user/**/*.png